
.login-logo a img {
	width: 50%;
}

.logo a img {
	width: 70%;
}

a.logo img {
	width: 40%;
}


#productSection .add-icon, #brandSection .add-icon {
  background-color:transparent;
  font-size:30px;
  float: right;
  cursor: pointer;
}

#productSection form, #brandSection form{
	clear:both;
}

.slide-div, .product-div, .update_div, #product_add_form, #brand_add_form {
  display: none;
}